<nav class="navbar navbar-expand-lg bg-back" style="height: 7rem;">
  
<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
  <ul class="navbar-nav">  
  <% if admin_signed_in? %>
    <%= link_to "投稿一覧", admin_posts_path %></li>
    <%= link_to "About", admin_about_path %></li>
    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
  <% elsif user_signed_in? %>
    <%= link_to "投稿一覧", posts_path %></li>
    <%= link_to "ペット一覧", pets_path %></li>
    <%= link_to "新規投稿", new_post_path %></li>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
  <% else %>
    <%= link_to "About", about_path %></li>
    <%= link_to "投稿一覧", posts_path %></li>
    <%= link_to "新規登録", new_user_registration_path %></li>
    <%= link_to "ログイン", new_user_session_path %></li>
  <% end %>
   </ul>
</div>
</nav>